{% extends 'base.html.twig' %}

{% block title %}BUT{% endblock %}

{% block body %}
<p>L’offre de formation des IUT évolue : le Bachelor Universitaire de Technologie
(B.U.T.) devient le nouveau diplôme de référence des IUT.
En intégrant un B.U.T., les étudiants bénéficient d’un parcours intégré de 3 ans,
sans sélection supplémentaire pour atteindre le grade licence. Le diplôme
est aligné sur les standards internationaux et facilite les échanges avec les
universités étrangères. Un DUT est délivré au bout des deux premières années.
Avec le B.U.T., les IUT renforcent leurs atouts : les étudiants continuent à profiter
d’un enseignement universitaire et technologique encadré par des équipes
pédagogiques mixtes expérimentées. Le cursus s’articule toujours autour de
mises en situation professionnelles, de périodes en entreprise sous forme de
stages ou en alternance (parfois dès la 1ère année ou plus généralement sur les
deux dernières années, voire uniquement la 3ème année du cursus).</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/xU7moCdCsDc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
